dump.rdb
lib-cov
*.log
*.csv
*.out
*.pid
pids
logs
results
node_modules
npm-debug.log
.idea
.DS_Store
log/*.log
.c9revisions
coverage.html
.settings
doc

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

/Gemfile.lock
