<% provide(:title, 'Home') %>
<div class='center hero-unit'>
    <h1><%= full_title('') %></h1>

    <p>
        The <%= full_title('') %> provides services for consumers to leverage functionality of
        <a href="https://www.topproducer8i.com">Top Producer CRM</a>.
    </p>
</div>
